body 
{
    color:whitesmoke;
    text-align: center;
    font-family: cursive;
}

#Container
{
    width: 70%;
    height: 50%;
    margin: 5%;
    margin-top: 15%;
    border: mediumorchid;
    border-style: groove;
    align-content: center;
    background-color:black;

}

#Container h1
{
    font-size: medium;
}
<<<<<<< HEAD
#cabecera
{
    background-color: moccasin;
}

#footer
{
    background-color: rgb(22, 77, 34);
    text-decoration-color: cornsilk;
=======

#container p
{
    font-size: large;
}

#cabecera
{
    background-color: rgb(191, 139, 196);
    height: 25%;
}

#logo
{
    height: 25%;

>>>>>>> header
}