body 
{
    color:whitesmoke;
    text-align: center;
    font-family: cursive;
}

#Container
{
    width: 70%;
    height: 50%;
    margin: 5%;
    margin-top: 15%;
    border: mediumorchid;
    border-style: groove;
    align-content: center;
    background-color: silver;

}

#Container h1
{
    font-size: medium;
}

#container p
{
    font-size: large;
}

#cabecera
{
    background-color: midnightblue;
    height: 25%;
}

#logo
{
    height: 25%;

}